<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>You have a new lead from therout.com!</h1>
<p>
  Name: <%= @name %>
  <br>
  Model: <%= @model %>
  <br>
  Email: <%= @email %>
</p>
</body>
</html>