<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Rout</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="blue-grey darken-4" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">
      Rout
    </a>
    <!--<ul class="right hide-on-med-and-down">-->
      <!--<li><a ui-sref="empty">Navbar Link</a></li>-->
    <!--</ul>-->

    <!--<ul id="nav-mobile" class="side-nav">-->
      <!--<li><a ui-sref="empty">Navbar Link</a></li>-->
    <!--</ul>-->
    <!--<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
  </div>
</nav>

<%= yield %>

<footer class="page-footer blue-grey darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">
          We are striving to make safe, quality accessories in the USA that we plan to use on our own bikes. We hope you like them enough to use them too!
        </p>


      </div>
      <!--<div class="col l3 s12">-->
        <!--<h5 class="white-text">Settings</h5>-->
        <!--<ul>-->
          <!--<li><a class="white-text" href="#!">Link 1</a></li>-->
          <!--<li><a class="white-text" href="#!">Link 2</a></li>-->
          <!--<li><a class="white-text" href="#!">Link 3</a></li>-->
          <!--<li><a class="white-text" href="#!">Link 4</a></li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--<div class="col l3 s12">-->
        <!--<h5 class="white-text">Connect</h5>-->
        <!--<ul>-->
          <!--<li><a class="white-text" href="#!">Link 1</a></li>-->
          <!--<li><a class="white-text" href="#!">Link 2</a></li>-->
          <!--<li><a class="white-text" href="#!">Link 3</a></li>-->
          <!--<li><a class="white-text" href="#!">Link 4</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy;Rout
    </div>
  </div>
</footer>
<script>
  $(document).ready(function(){
      $('.slider').slider({full_width: true});
  });
</script>
</body>
</html>
